body{
font-family:Arial;
background:#f5f7ff;
display:flex;
justify-content:center;
padding-top:50px;
}


.container{

background:white;
padding:30px;
border-radius:20px;
box-shadow:0 10px 30px #ddd;

text-align:center;

width:350px;

}


.settings{

display:flex;
gap:10px;

}


input{

width:70px;
padding:8px;

}


button{

margin:8px;
padding:10px 15px;

border:none;

border-radius:10px;

cursor:pointer;

background:#2563eb;

color:white;

}


#timer{

font-size:70px;

font-weight:bold;

margin:30px;

}